/* 代表所有tag<>元素，都要按照此格式設定 */
*{
    border: solid 0px ; /*實心的線條，大小為1px */
    font-family: 微軟正黑體;
    font-size: 20px;
  }
  .card{
    width: 800px;
    display: flex; /*設定在card以下的div都在同一行上面*/
  }
  .left{
    width: 30%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1280px-Roasted_coffee_beans.jpg);
  }
  .right{
    width: 70%;
  }
  ul li{
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
  h1{
    font-size: 40px;
    color: white;
    background-color: brown;
    margin: 20px;
    padding: 10px;
    }
  p{
    margin: 20px;
  }
  h2{
    margin: 20px; 
  }